@font-face{
    src: url(../../fonts/fontawesome-webfont.eot) format(eot),
    url(../../fonts/fontawesome-webfont.svg) format(svg),
    url(../../fonts/fontawesome-webfont.ttf) format(ttf),
    url(../../fonts/fontawesome-webfont.woff) format(woff),
    url(../../fonts/fontawesome-webfont.woff2) format(woff2),
    url(../../fonts/FontAwesome.otf) format(otf);
    font-family: fontawesome;
    src: url(../../fonts/flexslider-icon.eot) format(eot),
    url(../../fonts/flexslider-icon.svg) format(svg),
    url(../../fonts/flexslider-icon.ttf) format(ttf),
    url(../../fonts/flexslider-icon.woff) format(woff);
    font-family: flexslider-icon;
    src: url(../../fonts/maicons.eot) format(eot),
    url(../../fonts/maicons.svg) format(svg),
    url(../../fonts/maicons.ttf) format(ttf),
    url(../../fonts/maicons.woff) format(woff);
    font-family: maicons;
    src: url(../../fonts/slick.eot) format(eot),
    url(../../fonts/slick.svg) format(svg),
    url(../../fonts/slick.ttf) format(ttf),
    url(../../fonts/slick.woff) format(woff);
    font-family: slick;
    src: url(../../fonts/Flaticon.woff) format(woff);
    font-family: flaticon;
    src: url(../../fonts/ComicNeue-Regular.ttf) format(ttf);
    font-family: 'Comic Neue';
    src: url(../../fonts/Inconsolata-Regular.ttf) format(ttf);
    font-family: inconsolata;
    src: url(../../fonts/JetBrainsMono-Regular.ttf) format(ttf);
    font-family: 'JetBrains Mono';
}